@font-face {
    font-family: KHMenu;
    src: url(./assets/KHMenu.otf);
}

:root{
    --borderSize: 20%;
    --midSize: 60%;
    --selectorSize: 35%;
    --statsSize: 65%;
    --goldFont:rgb(255,255,6);
    --greenFont:rgb(151,247,93);
    --blueFont:rgb(88,200,248);
}

.menuFont{
    font-family: KHMenu;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/khwallpaper.webp);
}

.head{
    display: flex;
    align-items: end;
    background-image: linear-gradient(
        rgb(0,0,0),
        rgb(16,18,57)
    );
    height: var(--borderSize);
    width: 100%;
    flex-wrap: wrap;
}

.mid{
    display: flex;
    background-color: rgb(200, 100, 100,0.5);
    height: var(--midSize);
    width: 100%;
}

.foot{
    display: flex;
    /* align-items: start; */
    background-image: linear-gradient(
        rgb(16,18,57),
        rgb(0,0,0)
    );
    height: var(--borderSize);
    width: 100%;
    flex-wrap: wrap;
}

.leftBox{
    /* background-color: rgb(150, 150, 250,0.5); */
    width: var(--selectorSize);
    height: 100%;
    display: flex;
}

.rightBox{
    display: flex;
    /* background-color: rgb(220, 210, 190,0.5); */
    width: var(--statsSize);
    height: 100%;
    justify-content: center;
    align-items: end;
}

.menuSelector{
    /* background-color: rgb(20, 150, 250,0.2); */
    height: 310px;
    width: 35%;
    margin-left: 55%;
    margin-top: 10px;
}

.buttons{
    width: 100%;
    height: 32px;
    margin-right: 40px;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(180, 180, 180);
    text-align: left;
    border-radius: 30em;
    border-color: transparent;
    background-color: rgba(4, 4, 76, 0.683);
    font-family: KHMenu;
}

.buttons:hover{
    background-color: crimson;
    border-color: red;
    border-style: solid;
    color: white;
    font-size: 21px;
}

.statsContainer{
    display: flex;
    width: 390px;
    height: 100px;
    background-color: rgb(30, 34,93);
    margin-bottom: 5px;
}

.leftpart{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcoral;
    width: 50px;
    height: 100px;
}

.rightpart{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 5px;
    background-color: lightgreen;
    width: 100vw;
    height: 100px;
}

.line{
    height: 4px;
    width: inherit;
    background-color: rgb(66, 77, 245);
}

.lpEmptyBlock{
    background-color: rgb(15, 16, 47);
    height: 40px;
    width: 50px;
    box-shadow: inset 0px 0px 0px 3px rgb(30, 34,93);
}

.lpHudBlockBorder{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(15, 15, 15);
    height: 60px;
    width: 50px;
    box-shadow: inset 0px 0px 0px 3px rgb(30, 34,93);
}

#LV{
    color: var(--goldFont);
}

#HP{
    color: var(--greenFont);
}

#MP{
    color: var(--blueFont);
}

.charName{
    height: 40px;
    width: 335px;
    background-color: rgb(15, 16, 47);
    box-shadow: inset 0px 0px 0px 3px rgb(30, 34,93);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(180, 180, 180);
    font-family: 'KHMenu';
}

.charNameBox{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    /* background-color: red; */
    box-shadow: inset 0px 0px 0px 3px rgb(30, 34,93);
    width: 100px;
    height: 30px;
}

.statsPointsBlock{
    display: flex;
    height: 60px;
    width: 335px;
    background-color: rgb(50, 50, 50);
    box-shadow: inset 0px 0px 0px 3px rgb(30, 34,93);
}

.charblock{
    height: 60px;
    width: 111.66666666666667px;
    background-color: rgb(15, 15, 15);
    box-shadow: inset 0px 0px 0px 3px rgb(30, 34,93);
}

.rpHudBlock{
    text-align: right;
    margin: 3px 4px 3px 7px;
    height: 18px;
    width: 98px;
    /* background-color: aqua; */
}

#char1LV, #char2LV, #char3LV{
    color: var(--goldFont);
}

#char1HP, #char2HP, #char3HP{
    color: var(--greenFont);
}

#char1MP, #char2MP, #char3MP{
    color: var(--blueFont);
}

.headleftBox{
    width: 450px;
    height: 100px;
    /* background-color: antiquewhite; */
}

.headMenu{
    margin-top: 5px;
    text-align: center;
    font-size: 30px;
}

.menu-text-gradient {
    background-image: linear-gradient(0deg,rgb(78,78,186),rgb(39,39,93));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headboxLine{
    display: flex;
    height: 90px;
    width: 30px;
    /* background-color: aqua; */
}

.headmiddleBox{
    /* background-color: aqua; */
    width: 300px;
    height: 100px;
}

.stageName{
    margin-top: 70px;
    font-size: 25px;
    color: darkorange;
}

.footboxLine{
    display: flex;
    height: 90px;
    width: 30px;
    /* background-color: aqua; */
}

.headLine1{
    margin-top: 55px;
    background-color: darkorange;
    height: 35px;
    width: 3px;
}

.headLine2{
    margin-left: 4px;
    margin-top: 55px;
    background-color: darkorange;
    height: 35px;
    width: 4px;
}

.footLine1{
    background-color: rgb(78, 78, 186);
    height: 70px;
    width: 3px;
}

.footLine2{
    margin-left: 4px;
    background-color: rgb(78, 78, 186);
    height: 70px;
    width: 4px;
}

.footLeftBox{
    width: 450px;
    height: 100px;
    /* background-color: antiquewhite; */
}

.munnyInfoBox{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 200px;
    width: 200px;
    height: 20px;
    /* background-color: brown; */
    align-items: end;
}

.munnyInfo{
    color: darkgoldenrod;
}

.munnycount{
    font-size: 30px;
    color: darkgoldenrod;
}

.footrightBox{
    /* background-color: aqua; */
    height: 80px;
    width: 500px;
}

.description{
    color: rgb(40, 82, 248);
}